# Carpetas innecesarias
data/eeg_clean/*
data/MNE/*
data/original_data/*
data/results/*
.idea/
.venv/

# Archivos específicos
data/info_marcadores.xlsx
data/aletorizacion_hipotermina.xlsx
data/Problemas_con_marcadores.txt
scripts/info_marcas_arreglar.xlsx

# Mantener placeholders
!data/eeg_clean/.gitkeep
!data/MNE/.gitkeep
!data/original_data/.gitkeep
!data/results/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.env
